html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color:white;
}

header {
  margin: auto;
  text-align:center;
}

nav {
  padding: 1em;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color:whitesmoke;
}

a#menu svg {
  width: 30px;
  fill: #000;
  margin-top: 5px;
}

button {
  padding:15px;
  border-radius:8px;
  border:none;
  width:200px;
  margin:auto;
  background-color: #ffd900;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
input[type=email] {
  background-color: white;
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
  border-radius:8px;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius:8px;    
}

/* 
  Color del texto placeholder en el text input de 
  busqueda: se necesita especificarlo de manera 
  diferente para cada explorador
*/
#search-input::-webkit-input-placeholder { /* Edge */
  color: black;
}
#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}
#search-input::placeholder {
  color: black;
}

/* 
  Color del texto placeholder de los text inputs del 
  formulario de actualizacion de perfil del usuario
  que no han sido fijados
*/
.update-profile-input-not-set::-webkit-input-placeholder { /* Edge */
  color: grey;
}
.update-profile-input-not-set:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
}
.update-profile-input-not-set::placeholder {
  color: grey;
}

/* 
  Color del texto placeholder de los text inputs del formulario de actualizacion de perfil del usuario
*/
.update-profile-input::-webkit-input-placeholder { /* Edge */
  color: rgb(0, 0, 0);
}
.update-profile-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(0, 0, 0);
}
.update-profile-input::placeholder {
  color: rgb(0, 0, 0);
}


.title {
  font-size: 2.5em;
  text-align: center;
}

.user-avatar {
  width:40px;
  height:40px;
  margin-top: 5px;
  border-radius: 50%;  
}

.user-avatar-big {
  width:140px;
  height:140px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid black;
}

.pseudolink { 
  color:blue; 
  cursor:pointer; 
}

.select {
  border:none;
  background-color:white;
  padding: 9px;
  margin-top: -5px;
  margin-left: 7px;
  font: inherit;
  font-size: 14px;
  border-radius: 8px;
}

.drawer {
  background-color: salmon;
}

