html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color:rgb(255, 255, 255);
}

header {
  margin: auto;
  text-align:center;
}

nav {
  padding: 1em;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color:whitesmoke;
}

a#menu svg {
  width: 30px;
  fill: #000;
  margin-top: 5px;
}

button {
  padding:15px;
  border-radius:8px;
  border: none;
  width:200px;
  margin:auto;
  background-color: #ffd900;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
input[type=email] {
  background-color: whitesmoke;
  padding: 12px;
  margin-left: 7px;
  margin-right: 5px;
  width: 85%;
  border: none;
  outline: none;
  border-radius:8px;
  
}

.title {
  font-size: 2.5em;
  text-align: center;
}

.user-avatar {
  width:40px;
  height:40px;
  margin-top: 1px;
  border-radius: 50%;  
}

.pseudolink { 
  color:blue; 
  cursor:pointer; 
}

.select {
  border:none;
  background-color:rgb(255, 255, 255);
  padding: 9px;
  margin-top: -5px;
  margin-left: 7px;
  margin-right: 30px;
  font: inherit;
  font-size: 14px;
  outline: none;
}

.drawer {
  background-color:tomato;
}
